@nav-link: #FFCC32;

.hed{
  font-size: 1.2em;
  max-width: 800px;
  margin: 0 auto 1em;

  @media @mobile{
  font-size: 1em;
  }
}

.chatter{
  max-width:560px;
}
.outer {
  font-family: @block-graphics;
  font-size: 16px;
  @media (max-width:768px){
    margin:0;
  }
}

.card-wrapper {
  .display-flex;
  .flex-wrap(wrap);
}

.card, .novote, .list{
  .flex(0 0 18%);
  text-align: center;

  &.active {
    font-family: @bold-graphics;
    padding:10px;
    background: #cac3ac;
    margin: 1%;
    .img{
    height: 210px;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 30px;
    border: 2px solid #000;

    }
  }

  @media (max-width:800px){
    .flex(0 0 23%);
  }
  @media (max-width:600px){
    .flex(0 0 31%);
  }
  @media (max-width:480px){
    .flex(0 0 48%);
    font-size:0.9em;
  }
}

.card{
  display:none;

  &.active{
  display:block;
  border-radius:2px;
  position:relative;
  padding-bottom:23px;
  }
}

.credit {
  padding-top: 20px;
}


.button-container {
  margin: auto;
  text-align: center;
  padding-bottom: 30px;
  .button {
    cursor: pointer;
    font-family: @bold-graphics;
    display: inline-block;
    width: 170px;
    @media @mobile {
      width: 44%;
      font-size:0.8em;
    }
    padding: 2px 10px;
    margin: 4px;
    float: center;
    color: darken(@nav-link,15%);
    // border-radius: 6px;
    border-bottom: darken(@nav-link,15%) 1px solid;
    margin-right: 10px;
    &.selected {
      color: white;
      background: darken(@nav-link,15%);
    }
    &:hover {
      color: white;
      background: darken(@nav-link,15%);
    }
  }
}

#pick{
  display:none;
}

.name{
  font-family: antenna;
  background: white;
  display: inline-block;
  padding: 2px 5px;
  font-size: 0.8em;
  position: absolute;
  right: 15px;
  bottom: 14px;
  box-shadow: 2px 2px 1px 1px #4c4c4c;
}

.explanation{
  display:none;
}