<!doctype html>
<html>
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">

    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>

    <%= t.include("partials/_head.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

    <div class="outer">

      <div class="hed">Chronicle baseball experts vote for the Hall of Fame</div>
      <div class="chatter">We have some great baseball experts on staff at the San Francisco Chronicle. See for whom they would vote for the Baseball Hall of Fame and why.</div>

      <div class="button-container">
        <% csv.BallotData.forEach(function(writer,idx){ %>
          <div class="button" id="button<%=writer.id%>"><%=writer.name%></div>
        <% }) %>
      </div>

      <div id="list" class="card-wrapper">
      <% csv.players.forEach(function(player,idx){ %>
        <div class="list">
          <div class="name"><%=player.name%></div>
        </div>
      <% }); %>
      </div>

      <div id="pick">
      <div class="card-wrapper">
        <% csv.players.forEach(function(player,idx){ %>
          <% if (player.slug) { %>
            <div class="card" id="<%=player.slug%>">
              <div class="img" style="background-image: url('http://ww4.hdnux.com/photos/51/64/54/<%=player.photo%>/8/300x0.jpg');">
                
              </div>
              <div class="name"><%=player.name%></div>
            </div>
          
          <% } else { %>

        <% } %>

        <% }); %>
        </div>
      </div>

      <div class="credit">
        <div class="entry">Lucio Villa  &bull; <a href="mailto:lvilla@sfchronicle.com">lvilla@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/luciovilla" target="_blank">@luciovilla</a></div>
        <div class="entry">Emma O'Neill  &bull; <a href="mailto:eoneill@sfchronicle.com">eoneill@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a></div>
      </div>


    </div>

    <script>
      var ballots = <%= JSON.stringify(csv.BallotData) %>;
      console.log(ballots);
      var players = <%= JSON.stringify(csv.players) %>;
    </script>

    <script src="app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
